.box {
  text-align: center;
}

.guide {
  margin-top: -25px;
}

.copywriting {
  font-size: 18px;
}

.important {
  background: linear-gradient(transparent 60%, yellow 50%);
}

a {
  display: block;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(27, 155, 240, 0.877);
  border-color: rgba(27, 155, 240, 0.877);
  border-radius: 5px;
  margin: auto;
  text-decoration: none;
  color: white;
}
